/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2014, 2:55:33 PM
    Author     : ry60003333
*/

/* Styling for the body */
body {
    background-color: #C2F5FF;
}

/* Styling for the header */
header {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px;
    border-style: groove;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}

/* Styling for lists */
ul {
    text-align: left;
}

/* Styling for the section */
section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Lets change those link colors, no one likes purple links! */
a:link {
    color: #4EA2F5;
}
a:visited {
    color: #4EA2F5;
}
a:hover {
    color: #4E83F5;
}
a:active {
    color: #4EA2F5;
}